@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <div class="puzzle"><i class="fa-solid fa-puzzle-piece"></i></div>
    <img class="img-intersec" src="/lib/images/Intersec_name_2.svg" />
   
</div>
