@{
	Layout = "_LayoutOffLine";
	ViewData["Title"] = "Página Restrita";
}
<div id="restrictPage">

<h4>Área Restrita!</h4>
<a role="button" id="btn-backpage" class="btn btn-danger" asp-action="Index" asp-controller="Home">Voltar</a>
</div>