* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

#content-body {
    width: 100%;
    height: 100vh;
}

#header-index {
    width: 100%;
    background-color: #757575;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
}

#header-nav .nav-brand-text {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cards img {
    width: 100px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: inset
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #353535;
    color: white;
}

select, select option {
    background-color: #1f1f1f;
    color: white;
}

.modal-content, .modal-content select option, .modal-content button, .dataTables_length option {
    background-color: #1f1f1f;
}

    .modal-content button {
        background-color: #1f1f1f;
    }

    .modal-content button {
        border: none;
        font-size: 25px;
    }
    main{
        width:100%
    }

@media screen and (min-width:576px) {
    #content-body {
        position: relative;
        min-width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: row;
    }

    #header-nav {
        width: 15%;
        height: 100%;
        background-color: #353535;
        margin: 0;
        padding: 0;
    }

        #header-nav nav, #header-nav div {
            height: 100%;
            flex-direction: column;
        }

        #header-nav ul {
            min-width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        #header-nav li {
            width: 100%;
        }

            #header-nav li a {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }


    #body-content {
        width: 85%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
        color: white;
        overflow: auto;
    }
        

        


    #users-table tr, #users-table th {
        text-align: center;
    }

    #index-user #btn-criar {
        width: 50%;
    }

    #add-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

        #add-user form {
            width: 70%;
        }

    #footer {
        width: 100%;
        min-height: 5%;
        display: flex;
        padding: 15px;
        flex-direction: row;
        background-color: #353535;
        color: white;
    }

    #content-aside-text-login {
        display: none;
    }

    .aside-content {
        position: absolute;
        background-color: #353535;
        color: white;
        bottom: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .index-container > p {
        margin-bottom: 100px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

        .cards div {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }



        .cards p {
            width: 70%
        }

    .add-contact {
        width: 100%;
    }
        .add-contact .btns {
            min-width: 100%;
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            

        }
            .add-contact .btns button, .add-contact .btns a {
                width: 50%;
                margin: 10px 0 0;
            }
    #logout-page{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        color:#ffa400;
        
    }
    #logout-page a{
        width:15%;
        margin:5px;
    }
}

@media screen and (max-width:575px) {

    #content-body {
        width: 100%;
        height:100vh;
        position: relative;
        background-color: #1f1f1f;
        color: white;
    }

    #body-content {
        min-width: 100%;
        height:fit-content;
        min-height:100%;
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        color: white;
    }


    .index-container {
        max-width: 100%;
    }

        .index-container img {
            width: 100px;
        }

    #add-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

        #add-user form {
            width: 80%;
        }

    .table tbody tr {
        min-width: 100%
    }

    .table {
        min-width: 90%;
    }

        .table thead {
            display: none;
        }

        .table .odd {
            background-color: #3c3c3c;
        }

        .table th, td, tr {
            min-width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    #users-table_wrapper {
        min-width: 100%;
        margin: 0;
        padding: 0;
    }

    #footer {
        width: 100%;
        position: static;
        padding: 15px 0 15px 10px;
        color: white;
    }

    .aside-content {
        display: none;
    }

    #login-form {
        width: 100vw;
    }
    #logout-page {
        margin-top: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffa400;
    }

        #logout-page a {
            width: 50%;
            margin: 5px;
        }
}

.table, .table tbody, .table thead, .table tr, .table td, .table th {
    color: white;
}


.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login-form input {
        width: 100%;
        border: none;
        color: #000;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: .5px;
        background-color: #FFF;
        box-sizing: border-box;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        border: none;
        color: white;
        font-weight: normal;
        background-color: #192840
    }

        .login-form button:hover {
            background-color: #2d3e59
        }

.login-content {
    position: absolute;
    width: 40%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #00192e;
    color: white;
}

.content-recovery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .content-recovery h4 {
        position: absolute;
        top: 200px;
    }

#forgoten-password {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0;
}

    #forgoten-password .btn-fgt-bk {
        margin-top: 10px;
        color: #000;
    }

    #forgoten-password a {
        text-decoration: none;
        color: #ffa400;
        transition: all .5s;
    }

    #forgoten-password .RecoveryPassword:hover {
        color: #fff;
    }


.small-tags {
    color: red;
}

#content-aside-text {
    width: 60%;
}
