html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

* {
    color: #fff;
}

body {
    min-height:100%;
    margin-bottom: 60px;
    background-color: #1f1f1f;
}
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login-form button, .login-form input {
        width: 100%;
        border: none;
        color: white;
        font-weight: normal;
        background-color: #003968
    }

        .login-form input:focus, .login-form input:not(:empty), .login-form input:past, .login-form input::selection {
            background-color: #0d4879;
            color: white;
            font-weight: normal;
        }
.login-content {
    position: absolute;
    width: 40%;
    min-height:100%;
    justify-content: center;
    align-items: center;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #00192e
}

.content-recovery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .content-recovery h4 {
        position: absolute;
        top: 200px;
    }
#forgoten-password {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0;
}

    #forgoten-password .btn-fgt-bk {
        margin-top: 10px;
        color: #000;
    }

    #forgoten-password a {
        text-decoration: none;
        color: #ffa400;
        transition: all .5s;
    }

    #forgoten-password .RecoveryPassword:hover {
        color: #fff;
    }


.small-tags {
    color: red;
}
#content-aside-text {
    width: 60%;
}
.aside-content {
    position: absolute;
    bottom: 0;
    width: 60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    position:static;
    background-color:#1f1f1f;
}

@media screen and (min-width:769px) {
    

    .add-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .add-contact form {
            width: 50%;
            display: flex;
            flex-direction: column;
        }

            .add-contact form label {
                font-weight: bold;
            }

            .add-contact form button {
                margin-top: 20px;
            }

    .field-validation-error {
        font-weight: lighter;
        font-size: 18px;
        color: white;
    }

    .btn-cancel {
        margin-top: 15px;
        width: 48%
    }

    .btn-back-cancel a {
        margin-top: 20px;
    }

    #form-edit {
        position: relative;
    }

    .btn-back {
        position: absolute;
        margin-top: 15px;
        width: 48%;
        right: 0;
    }

    .close-alert {
        position: absolute;
        right: -10px;
        top: -15px;
        border-radius: 15px;
        width: 30px;
        height: 30px;
    }

    .alert {
        text-align: center;
    }

    .btn-back-cancel {
        display: flex;
    }

    #users-table_length select {
        background-color: #1f1f1f;
    }

    .select-dark option {
        background-color: #1f1f1f;
    }

    

    

    

    .modal-content, .modal-content select option, .modal-content button, .dataTables_length option {
        background-color: #1f1f1f;
    }

        .modal-content button {
            background-color: #1f1f1f;
        }

        .modal-content button {
            border: none;
            font-size: 25px;
        }

    #change-pwd-form {
        margin: 200px auto;
    }


    .input-file {
        display: flex;
    }

    .input-file-btn {
        margin-top: 15px;
        padding: 5px;
    }

    .envio-arquivos {
        margin-top: 15px;
    }

    .excel {
        text-transform: uppercase;
    }

    .content-body {
        display: flex;
    }
    #content-aside-text h1 {
        margin-bottom: 50px;
    }
    #toggle-login{
        display:none;
    }
    
}
#toggle-login-back {
    display: none;
}
#content-aside-text-login{
    display:none;
}


@media screen and (max-width:680px) {
    table th {
        display: none
    }
    #content-aside-text-login {
        display: flex;
        flex-direction:column;
        margin-bottom:30px;
    }
    .modal-header, .modal-body, .modal-header span,.modal-header button,.modal-body select option {
        background-color: #1f1f1f;
    }
        .modal-header button{
            border:none;
            font-size:24px;
        }
        table td{
            display: flex;
            flex-direction: column;
            width: 90vw;
        }

    .aside-content {
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
    }

    #content-aside-text {
        display:none;
    }
        #content-aside-text h1{
            margin-bottom:50px;
        }

    #login-form{
        display: flex;
        width: 100%
    }
    #toggle-login{
        display:flex;
        text-decoration: none;
        color: #ffa400;
    }
    #toggle-login-back {
        display: flex;
        text-decoration: none;
        color: white;
    }
    
   
    
}
