<div id="logout-page">

	<h3>Já está indo embora!?</h3>

	<a class="btn btn-danger" asp-controller="Login" asp-action="Logout">Sim, quero sair!</a>
	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Não, quero voltar!</a>
</div>