<div id="logout-page">

	<h1>Você está saindo da aplicação</h1>

	<a class="btn btn-danger" asp-controller="Login" asp-action="Logout">Deseja sair?</a>
	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
</div>