@model RecoveryPasswordModel
@{
	Layout = "_LayoutOffLine";
	ViewData["Title"] = "Redefinição de senha!";
}


@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
		@TempData["ErrorMessage"]
	</div>

}
<div class="content-recovery">


<h4>@ViewData["Title"]</h4>
<div class="login-container">
	<div class="login-form ">

		<form asp-controller="Login" asp-action="RecoveryPassword" method="post">
			<div class="mb-3">
				<label for="login" class="form-label">Login</label>
				<input type="text" asp-for="Login" class="form-control" id="login">
				@Html.ValidationMessageFor(x => x.Login)
			</div>
			<div class="mb-3">
				<label for="mail" class="form-label">Email</label>
				<input type="emil" asp-for="Email" class="form-control" id="mail">
				@Html.ValidationMessageFor(x => x.Email)
			</div>
			<div id=forgoten-password>
			<button type="submit" class="btn btn-primary">Redefinir</button>
			<a role="button" asp-action="Login" asp-controller="Login" class="btn btn-warning btn-fgt-bk">Voltar</a>
			</div>
		</form>
	</div>
</div>
</div>